link(rel="stylesheet" href="/stylesheets/profile.css")
link(rel='stylesheet' href='/stylesheets/user-home.css')
link(rel='stylesheet' href='/stylesheets/search.css')

include navbar.pug

div(id='search-container')
    a(href="/" id="home-img"): img(src="/images/homeCow.png", alt="Home" id="cow-img")
    h2 Search results for: #{searchInput}
    div(id='results-container')
        ul(id='searchList')
            each item in result
                li= item.type
                a(href=`/${item.type}/${item.id}` class='search-link') #{item.name}
