link(rel="stylesheet" href="/stylesheets/profile.css")
//- h3= `Hello ${user.userName}`
div(id="container")
    div(id="nav")
        a(href="" id="menu-img"): img(src="/icons/menu.png", alt="Menu" class="icon")
        div(id="nav-search")
            img(src="/icons/search.png", alt="Search" id="nav-search-img" class="icon")
            input(type="text" id="nav-search-input")
        a(href="" id="settings-img"): img(src="/icons/settings.png", alt="Settings" class="icon")
    div(id= "profile-container")
        table(class='table table-striped table-hover')
            thead(class='thead-dark')
                tr
                    th(scope='row') Username
                    td= user.userName
                tr
                    th(scope='row') Email
                    td= user.email
                tr
                    th(scope='row') Birthday
                    td= user.dateOfBirth
                tbody
    div(id= "edit-btn-container")
        a(id="edit-profile-button" class="btn-edit" href=`/users/${user.id}/profile/edit` role="button") Edit Profile
