extends layout

block content
    link(rel="stylesheet" href="/stylesheets/profile.css")
    link(rel='stylesheet' href='/stylesheets/user-home.css')

    include navbar.pug
    a(href=`/users/${user.id}` id="home-img"): img(src="/images/homeCow.png" id="cow-image")
    div(class="errors-container")
    div(id="edit-profile-container")
        h3(class="edit-head")  Edit Profile
        form(class="edit-form" action=`/users/${user.id}/profile/edit` method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Email
            input(type="email" name="email" value=user.email)
            label(for="userName") Username
            input(type="text" name="userName" value=user.userName)
            button(class="edit-button" type="submit" name="editProfileButton" formmethod="post") Submit
            a(class='cancel-button' href=`/users/${user.id}/profile` role='button') Cancel
